- if current_user
  %nav.actions
    = link_to "edit", edit_slug_path(page.slug)
    |
    = link_to "delete", slug_path(page.slug), method: :delete, confirm: 'sure?'

%article
  :markdown
    #{page.body}
