%article
  %h1 August 08, 2012- Composition
  %p I’ve posted the first composition on the composition page. It’s a piano piece in E minor written at the request of a friend for a film project. I will also put up the score in case anyone is interested in it.

%article
  %h1 July 24th 2012- First EP
  %p Hello. I’m happy to say that my first EP is finished. It’s a collection of four songs. You can download it for free on the music page if you’d like.

%article
  %h1 July 16th 2012- Website
  %p I’ve began working on the website. Hopefully it will be fully functional in the near future. I will add music, compostions, and eventually videos as I finish them.

