html 
  height: 100%
body
  color: #e5e5e5
  background: #242424
  height: 100%
  section#main
    border-left: dashed 2px #117773
    width: 1024px
    margin: 0 auto
    height: 100%
    section#content
      width: 615px
      margin: 0 auto
