!!!
%html
  %head
    = stylesheet_link_tag 'application'
    %title Evander Orange
  %body
    %section#main
      %section#content
        %header
          %h1 Evander Orange
          %nav
            - %W(News Music Videos Photos Compositions Contact about).each do |name|
              = link_to name, '#'

        = yield
