!!!
%html
  %head
    = stylesheet_link_tag 'application'
    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Source+Code+Pro:200|Nobile|Trykker'
    %title Evander Orange
  %body
    %section#main
      %section#content
        %header
          %h1<>
            E
            %span.aqua<> v
            a
            %span.aqua<> n
            %span.grey<> d
            %span.aqua<> e
            r Ora
            %span.grey<> n
            ge
          %nav
            - page_slugs.each do |name|
              = link_to name, slug_path(name)
        = yield
